{% extends 'home.html.twig' %}

{% block carouselItems %}
    <div class="carousel-item active">
        <img src="https://source.unsplash.com/random/1200x800?leaf" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1200x800?leaf" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="https://source.unsplash.com/random/1200x800?leaf" class="d-block w-100" alt="...">
    </div>
{% endblock %}
