{% extends 'root.html.twig' %}

    {% block body %}
        <header>
            {% block pageTitle %}
            {% endblock %}

            {% block navbar %}
                {% include 'nav.html.twig' %}
            {% endblock %}
        </header>

        <main class="row">
            <section class="col-12">
                {% block section %} {# Le nom d'appel dans Twig est arbitraire !! #}
                {% endblock %}
            </section>
        </main>

    {% endblock %}

